
#img4{
    width: 50%;
}
#cardx{
    text-align: center;
    width: 100%;
    background-color: darkslateblue;
}
#cardy{

    width: 100%;
    background-color: ghostwhite;
}
#btnB{
    color: green;

}
#card2{
    margin-top:50px ;
    color: darkblue;
}
#card3{
    margin-top:100px ;
    color: darkblue;

}
#card1{
    color: darkblue;

}
#pas{
    margin-left: -150px;

}
#par{
    margin-left: 550px;
    margin-top: 40px;
}
#searchBtn{
    background-color: #1e7e34;
    width: 100%;
    height: 40px;

}
#hazem{
    background-color: #007bff;
    height: 120px;
}
#searchBar{
    padding: 20px;
    position: initial;
    width: 100%;
    color: white;
    height: 40px;
}
